html,
body {
  margin:0;
  padding:0;
  line-height: 1.75em;
  background: #ebebeb;
  position: relative;
  font-family: "Helvetica Neue", Helvetica, Arial, "Hiragino Sans GB", "Hiragino Sans GB W3", "WenQuanYi Micro Hei", "Microsoft YaHei UI", "Microsoft YaHei", sans-serif;
}



.sidebar-menu{
  list-style: none;
  margin-top: 50px;
  padding: 0;
  border: 1px solid #aaa;
  background-color: #fff;
}

.sidebar-menu > li{
  position: relative;
  margin: 0;
  padding: 0;
}

.sidebar-menu > li > a {
  padding: 12px 5px 12px 15px;
  display: block;
  border-left: 3px solid transparent;
  color: #000;
}

.sidebar-menu > li > a > .fa {
  width: 20px;
}

.sidebar-menu > li:hover > a, .sidebar-menu > li.active > a {
  color: #000;
  background: #fff;
}

.sidebar-menu > li > .treeview-menu {
  margin: 0 1px;
  background: #fff;
    border: 1px solid #aaa;
}

.sidebar-menu li.header {
  padding: 10px 25px 10px 15px;
  font-size: 12px;
  color: #fff;
  background: #aaa;
}

.sidebar-menu li > a > .fa-angle-left {
  width: auto;
  height: auto;
  padding: 0;
  margin-right: 10px;
  margin-top: 3px;
}

.sidebar-menu li.active > a > .fa-angle-left {
  transform: rotate(-90deg);
}

.sidebar-menu li.active > .treeview-menu {
  display: block;
}

.sidebar-menu a {
  color: #b8c7ce;
  text-decoration: none;
}

.sidebar-menu .treeview-menu {
  display: none;
  list-style: none;
  padding: 0;
  margin: 0;
  padding-left: 20px;
}

.sidebar-menu .treeview-menu > li {
  margin: 0;

}

.sidebar-menu .treeview-menu > li > a {
  padding: 5px 5px 5px 15px;
  display: block;
  font-size: 14px;
  color: #000;
}

.sidebar-menu .treeview-menu > li > a > .fa {
  width: 20px;
}

.sidebar-menu .treeview-menu > li > a > .fa-angle-left,
.sidebar-menu .treeview-menu > li > a > .fa-angle-down {
  width: auto;
}

.sidebar-menu .treeview-menu > li.active > a, .sidebar-menu .treeview-menu > li > a:hover {
  color: #000;
}

/*当窗口小于768时，ul中除了第一个li其它li隐藏*/

@media (max-width: 768px){
  ul>li:not(:first-child) {
      display: none;
 }
}
/*当窗口大于768时，一级二级菜单显示方式*/
@media (min-width: 768px){
    .sidebar-menu .treeview{
          position: relative;
        }

    .sidebar-menu .treeview .treeview-menu{
        position: absolute;
        top:0;
        right: 100%;
        width: 15%;
      }
      .sidebar-menu .treeview .threepo{
          position: absolute;
          top: 0;
          left: 100%;
          width:100%;
          background: #fff;
        }
}